/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --font-family-main: 'Inter', sans-serif;
    --font-family-accent: 'Press Start 2P', fantasy;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --font-logo-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
    --font-title-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
    --width-content: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.5rem);
    --width-header: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.5rem);
    --color-background: #fff;
    --color-text: #000;
    --color-accent: #000;
    --color-border: #000;
    --animation-fill-color: #f00;
    --color-label-stroke: var(--color-background, #ffffff);
    --bg-image: repeating-linear-gradient(to left,
        #d3d3d3 0 2px,
        transparent 2px 4px),
    repeating-linear-gradient(to bottom,
        #d3d3d3 0 2px,
        transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
}

